---
import type { GetStaticPaths } from "astro";
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
import { fetchApi } from "@/services/fetch";
import { sectionToDP } from "@/const/constantes";
import Filtros from "@/components/Filtros.tsx";
import { Suspense } from "react";
export const getStaticPaths = (async () => {
    const data = await fetchApi();

    return Object.keys(data).map((section) => ({ params: { section } }));
}) satisfies GetStaticPaths;
const { section } = Astro.params;
const nameSection = sectionToDP[section];
---

<Layout title={`Pagina de visualización completa de ${nameSection} `}>
    <div slot="banner" class="text-white pt-12">
        <h1
            class="text-4xl font-semibold after:content-['.'] after:text-sky-400 after:absolute"
        >
            Hola muchachos estamos en la pagina para visualizar la sección {
                nameSection
            }
        </h1>
    </div>

    <section slot="main" class="flex flex-col sm:flex-row w-full h-fit pt-12">
        <div class="w-full sm:w-1/3 flex flex-col">
            <picture
                class="block bg-[url('fondo-rick.webp')] bg-no-repeat bg-cover bg-center w-full h-96 order-3 sm:order-1"
            >
            </picture>
            <span class="block w-full h-6 bg-slate-500 order-1 sm:order-2"
            ></span>

            <article class="text-white order-2 sm:order-3">
                <details open class="details" name="guie">
                    <summary class="details__summary"
                        >Generalidades de las secciones</summary
                    >
                    <div class="details__content">
                        <p>
                            Al navegar por esta parte de la pagina web podrás
                            visualizar las tarjetas de la sección.
                        </p>
                    </div>
                </details>

                <details class="details" name="guie">
                    <summary class="details__summary"
                        >Saber mas acerca del filtrado</summary
                    >
                    <div class="details__content">
                        <p>
                            En esta parte podrás filtrar por cada pagina las
                            tarjetas debido a su nombre, status, especie y
                            genero.
                        </p>
                    </div>
                </details>

                <details class="details" name="guie">
                    <summary class="details__summary">Colabora conmigo</summary>
                    <div class="details__content space-y-1">
                        <p>
                            ¡Únete a proyectos interesantes! Colabora conmigo
                            para crear algo increíble mientras aprendemos y
                            crecemos juntos como desarrolladores.
                        </p>
                        <p>Tu código puede hacer la diferencia.</p>
                        <p>
                            Conectarnos » <a href="WhatsApp" class="underline"
                                >aquí</a
                            >
                        </p>
                    </div>
                </details>
            </article>
        </div>
        <div
            class="sm:ps-4 sm:w-2/3 bg-transparent sm:overflow-auto sm:max-h-[42rem]"
        >
            <Filtros client:load />
            <!-- <article class="w-full h-32 bg-slate-300"></article> -->
        </div>
    </section>
</Layout>
<style>
    .details {
        height: fit-content;
        position: relative;
        padding: 1rem;
        margin-inline: auto;
        background-color: #111213;

        &::details-content {
            display: block;
            margin-inline: 2rem;
            block-size: 0;
            overflow: hidden;
            transition-property: block-size, content-visibility;
            transition-duration: 0.2s;
            transition-behavior: allow-discrete;
        }
        &[open]::details-content {
            block-size: auto;
            block-size: calc-size(auto, size);
        }
        &[open] .details__summary::before {
            transform: rotate(90deg);
        }
    }

    .details__summary {
        padding-inline: 2rem;
        position: relative;
        font-weight: 600;
        cursor: pointer;
        &::marker {
            content: "Ꜿ";
            content: none;
        }
        &::before {
            content: "Ꜿ";
            position: absolute;
            color: RGB(0, 203, 255);
            inset-inline-start: -0.1rem;
            inset-block-start: 0rem;
            transition: all 0.3s;
        }
    }
</style>
