---
import Personajes from "../components/Personajes";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pagina de inicio">
    <div class="px-8">
        <p class="text-3xl font-bold dark:text-slate-100 mt-10">
            Nos vasamos en diferentes secciones como personajes, ubicaciones y
            hasta episodios.
        </p>

        <section class="mt-8">
            <h2 class="dark:text-slate-300/90 text-2xl mb-4">Personajes</h2>
            <Personajes client:visible />
        </section>
    </div>
</Layout>
