---
import Layout from "@/layouts/Layout.astro";
import Personajes from "@/components/Personajes";
---

<Layout title="Pagina de inicio">
    <div class="flex flex-col justify-start px-4 mt-8">
        <h2
            class="text-xl font-bold text-center text-white sm:text-3xl dark:text-slate-100"
        >
            Nos basamos en diferentes secciones como personajes, ubicaciones y
            hasta episodios.
        </h2>

        <article class="mt-8 space-y-4">
            <section class="">
                <h2
                    class="mb-4 font-semibold text-slate-200/90 dark:text-slate-300/90 text-2xl sm:text-3xl"
                >
                    Personajes Mas Populares
                </h2>
                <Personajes client:visible />
            </section>

            <!-- parte de prueba -->
        </article>
    </div>
</Layout>
