---
import Filtros from "@components/Filtros";
import Landing from "@components/Landing.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Pagina de inicio">
    <Landing slot="banner" />
    <section slot="main" class="w-full">
        <Filtros resetFilterLocal client:load />
    </section>
</Layout>
