---
import Personajes from "../components/Personajes";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pagina de inicio">
    <div class="px-8 flex justify-start flex-col">
        <p
            class="text-base sm:text-3xl font-bold text-center dark:text-slate-100 mt-8"
        >
            Nos basamos en diferentes secciones como personajes, ubicaciones y
            hasta episodios.
        </p>

        <section class="my-8">
            <h2 class="dark:text-slate-300/90 font-semibold sm:text-2xl mb-4">
                Personajes Mas Populares
            </h2>
            <Personajes client:visible />
            <div>
                <a
                    href="ver-mas"
                    class="font-semibold text-lg dark:text-white py-2 px-4 flex place-content-center max-w-full sm:max-w-sm bg-gray-800 my-4 ms-auto gap-2 rounded-lg border border-white/25 shadow-md"
                    >Ver mas personajes</a
                >
            </div>
        </section>
    </div>
</Layout>
