---
import type { Location } from "@/types/Api";
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
interface Props {
    id: number;
    name: string;
    status: string;
    species: string;
    location: Location;
    image: string;
}
const { id, name, status, species, location, image: rutaImg } = Astro.props;
---

<article
    class="text-white bg-slate-500/50 hover:bg-slate-500/80 transition-all rounded-lg size-full flex flex-col p-3"
>
    <Image
        width="500"
        height="500"
        loading="lazy"
        src={rutaImg}
        alt="imagen de relleno"
        class="rounded-xl object-cover"
    />
    <div class="min-h-44 max-h-52 flex flex-col justify-between">
        {/* main image */}
        <div class="flex mt-4">
            <div class="*:*:*:text-base w-3/4 icons-cards truncate">
                {/* title image */}
                <strong
                    class="font-medium text-lg mb-2"
                    title={name ?? "Nombre del personaje"}
                    >{name ?? "Nombre del personaje"}</strong
                >
                {/* desc image */}
                <section
                    class="space-y-1 flex flex-col *:space-x-2 *:flex *:items-center text-slate-100/90"
                >
                    <div>
                        <i>
                            <Icon name="vida" />
                        </i>
                        <span title={status ?? "estado del personaje"}>
                            {status ?? "estado del personaje"}</span
                        >
                    </div>
                    <div>
                        <i>
                            <Icon name="alien" />
                        </i>
                        <span title={species ?? "especie del personaje"}
                            >{species ?? "Humano"}</span
                        >
                    </div>
                    <div>
                        <i>
                            <Icon name="planeta" />
                        </i>
                        <span
                            class="truncate"
                            title={location?.name ?? "Tierra"}
                            >{location?.name ?? "Tierra"}</span
                        >
                    </div>
                </section>
            </div>
            {/* favoritos */}
            <label
                for={`favorito-card-${id}`}
                class="flex w-1/4 flex-row-reverse pt-0 h-fit"
            >
                <input
                    type="checkbox"
                    name="favorito-id-#"
                    class="sr-only peer"
                    id={`favorito-card-${id}`}
                />
                <div class="peer-checked:*:text-red-600 h-fit">
                    <span class="sr-only">icono de favorito</span>

                    <Icon
                        name="corazon"
                        class="text-sky-400 size-5 cursor-pointer"
                    />
                </div>
            </label>
        </div>
        {/* footer image */}
        <div class="flex flex-row-reverse w-full">
            <a
                href="#mas"
                title={`saber mas sobre ${name.toLowerCase()}`}
                class="flex items-center py-1.5 px-4 rounded-3xl transition-all hover:shadow-md shadow-slate-800 space-x-2 bg-black/40 hover:bg-sky-400 text-slate-300 hover:text-slate-800/90 group font-medium"
            >
                <i>
                    <Icon name="info" class="size-5" />
                </i>
                <span
                    class="after:content-['...'] after:text-[#BFDE42] group-hover:after:text-slate-800/90 after:transition-all after:ease-in-out"
                    >Ver mas</span
                >
            </a>
        </div>
    </div>
</article>
<style>
    .icons-cards div i svg {
        height: 20px;
        width: 20px;
        @media (max-width: 650px) {
            width: 18px;
            height: 18px;
        }
    }
</style>
