---
import { Icon } from "astro-icon/components";
---

<section
    id="banner"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 pt-12 h-screen"
>
    <article
        class="row-start-1 z-20 md:col-start-1 md:col-end-2 flex flex-col justify-between relative"
    >
        <a href="/" title="inicio de mi pagina" class="w-36 sm:w-40 h-auto">
            <Icon
                name="rick-logo"
                title="rick and Morty"
                class="size-full contrast-150 brightness-105 object-cover"
            />
        </a>

        <div class="text-white size-fit md:space-y-14">
            <h1
                class="font-extrabold text-3xl inline-block md:text-4xl lg:text-6xl w-3xs sm:w-2xs md:w-96 lg:w-[30rem] after:text-sky-500 after:content-['.'] after:absolute absolute top-30 sm:relative sm:top-0"
            >
                Vamos a nuestro universo
            </h1>

            <div
                class="flex space-x-4 *:min-w-[150px] *:justify-center size-fit *:text-nowrap relative top-20 flex-col space-y-6 sm:space-y-0 sm:flex-row sm:top-0"
            >
                <a
                    href="/#explorar"
                    title="explorar"
                    class="bg-gradient-to-br flex items-center space-x-2 from-sky-400 to bg-sky-500 transition-all hover:shadow-lg hover:shadow-sky-500/50 text-slate-50 hover:text-slate-200 px-4 py-1 rounded-3xl text-lg"
                >
                    <span>¡Explorar ahora!</span>
                </a>
                <a
                    href="#login"
                    title="iniciar sesión"
                    class="bg-gradient-to-br flex items-center space-x-2 from-slate-500 bg-gray-900 to-bg-slate-500 transition-all hover:shadow-lg hover:shadow-slate-500/50 text-slate-50 hover:text-slate-200 px-4 py-1 rounded-3xl text-lg"
                >
                    <span>Iniciar sesión</span>
                </a>
            </div>
        </div>

        <div
            class="relative -top-14 sm:top-0 space-y-4 sm:space-y-8 w-80 sm:w-96 lg:w-[30rem] pb-4"
        >
            <p class="text-lg sm:text-xl text-slate-100/85">
                Personajes, localizaciones, episodios y mucho más.
            </p>
            <span
                class="text-sky-400 brightness-125 text-base sm:text-lg capitalize"
            >
                Wubba Lubba Dub Dub!
            </span>
        </div>
    </article>

    <article
        class="row-start-1 col-span-1 md:col-span-2 flex flex-col space-y-[50%] md:space-y-0"
    >
        <div class="w-full flex flex-row-reverse">
            <a
                href="/favoritos"
                title="ir a ver los guardados en favoritos"
                class="bg-gradient-to-br flex items-center space-x-2 from-sky-400 to bg-sky-500 transition-all hover:shadow-lg hover:shadow-sky-500/50 text-white hover:text-slate-300 px-4 py-1 rounded-3xl"
            >
                <span><Icon name="heart" class="size-5" /></span>
                <span class="text-lg">Favoritos</span>
            </a>
        </div>
        <div class="w-full">
            <picture class="w-full block">
                <img
                    id="fondo-rick"
                    loading="eager"
                    class="w-full h-[40vh] md:h-[80vh] object-cover object-left-bottom sm:object-center"
                    src="/fondo-rick.webp"
                    alt="rick de fondo personaje principal usado para el fondo de la pagina web"
                />
            </picture>
        </div>
    </article>
</section>
<style>
    #fondo-rick {
        mask-image: linear-gradient(rgb(15, 15, 15) 50%, transparent);
    }
</style>
