---
import { Icon } from "astro-icon/components";

interface Props {
    title?: string;
}
const { title } = Astro.props;
---

<article>
    <div class="flex space-x-4 sm:space-x-8 mb-8">
        <h2 class="font-bold text-3xl">{title ?? "Personajes"}</h2>

        <button
            class="flex space-x-2 items-center text-base bg-slate-500/50 hover:bg-slate-500/80 transition-colors px-4 py-1.5 rounded-3xl"
            type="button"
        >
            <i><Icon name="todos" class="size-5" /></i>
            <span>Ver todos</span></button
        >
    </div>
    <slot />
</article>
